.item
{

  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10px;
}

.item > div
{
  margin-left: 10px;
  
}

.flex
{
  display: flex;
}

.itemQtyUnit
{
  font-size: 20px;
  background-color: wheat;
  border-radius: 15px;
  text-align: center;
  width: 10%;
  padding-left: 10px;
}

.value {
  background-color: lightpink;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 30%;
  text-align: center;
  border-radius: 15px;

}